<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="C:\Users\Admin\Downloads\MY LOGO PT.2.jpg" 
    type="image/x-icon">
    <!-- <style>
        h1{
            /* padding-left: 700px; */
        }
    </style> -->
    <title>About Us</title>
</head>
<h1>ABOUT US</h1>
<body>
    What to Know About Us?
    <br>
    We are software company that has not started and is still trying
    to understand what they want to do. This is basically a test run
    of what may come about in the future.
</body>
</html>