<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="C:\Users\Admin\Downloads\MY LOGO PT.2.jpg" 
    type="image/x-icon">
    <title>Contact Us</title>
</head>
<h1>CONTACT US</h1>
<body>
    If you want to contact us, you can;
    <br>
    <br>
    Call: +2347013623626, +2348167614275, +2347013623626
    <br>
    <br>
    Whatsapp: +2347013623626
    <br>
    <br>
    E-Mail: ikechukwuklinsman@gmail.com
</body>
</html>