<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <img src= "C:\Users\Admin\Downloads\MY LOGO PT.2.jpg" 
    alt= '' width="300" height="300"
    </a>
    <!-- <style>
        h1{
            /* padding-left: 700px; */
        }
        img{
            /* padding-left: 600px;  */
            /* border: 10px grey solid;
            margin: 50px 200px 50px 100px;
            box-sizing: border-box;  */
        
        
        
        }
    </style> -->
    <title>Sensei</title>
    <link rel="icon" href="C:\Users\Admin\Downloads\MY LOGO PT.2.jpg" 
    type="image/x-icon">
</head>
<h1>HOME</h1>

<br>
<br>
<br>

<body>
    Welcome to the world of Sensei Kido! 
    Be ready to be amazed with the content within. 
    We have a lot features coming up later.
    <br>
    <br>
    WATCH OUT!!!!

  
    
    
</body>
</html>